.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #2A2C2F;Если отступы\лишнее прастранство после 1280 должно быть темным фоном в цвет остальной
    страницы, то раскомментировать. Если белым, то оставить как есть. в брифе про это ничего не сказано, мне лично так нравится*/
}
/*Чтобы выровнять по центру для больших разрешений при ограничении ширины контента*/