.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: Inter, Arial, Helvetica, sans-serif;
    min-width: 320px;
    max-width: 1920px;/*По брифу можно ограничить и 1280, но не зря же calc тянут блоки при увеличении разрешения*/
}

