.places__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% 
    text-decoration: underline;
    text-decoration: none;*/
    transition: opacity 3s;
    color: #FFFFFF;
    max-width: max-content;
}

.places__link:hover { /* без выноса в микс для большей независимсоти, т.к. всего 2 блока ссылок */
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .places__link {
        margin-left: 16px;
    }
}