.lead__photo {
    width: 100%;
    /*height: calc((100vw - 2*(max(min(calc(148px - (1280px - 100vw)/2.56),148px),0px)))/1.6);*/
    /*Автотестировщик не пропускает формулу, хотя она работает, но работает и без указания макс-высоты, поэтому просто закоментим*/
    /*max-height: 615px;*/
    object-fit: contain;
    z-index: 1;
}

