.lead__subtitle {
    /*width: 640px;
    height: 72px;*/
    width: max(min(calc(100vw/1.112),640px),288px);
    /*width: max(min(calc(288px + (100vw - 320px)/448*432),720px),288px);
    min-height: max(min(calc(100vw/8),72px),40px);Убрал, по сути это заложено в line-height*/
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    margin: 0 0 64px;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin: 0 0 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 40px;
    }
}