.header__lang-link-li {
    margin-left: 18px;
}

.header__lang-link-li:nth-child(1) {
    margin-left: 0;
}

/*по чек листу необходимо использовать модификатор дл подчеркивания, но он ведь не отразит действительно выбранный язык на данном уровне кода???
Но, если будет надо, то заменю на статичный модификатор
.header__lang-link-li:nth-child(1):lang(ru) {
    text-decoration: underline;
}

.header__lang-link-li:nth-child(2):lang(en) {
    text-decoration: underline;
}меняю по требованию на модификатор, хоть и не согласен. скриптов на нашей странице нет и модификатор всегда будет подчеркивать русский язык.
хотя, конечно, и скрипта на выбор языка у нас тоже нет*/