.lead__caption{
    margin: 8px 0 0; /*Отступ слева 0 0 24 16 через медиазапрос*/
    /*min-width: 158px;Настройки шрифта как в фигме, но текст не влазит в 158????*/
    min-height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .lead__caption{
        margin: 8px 0 0 24px; /*Отступ слева 0 0 24 16 через медиазапрос*/
    }
}

@media screen and (max-width: 767px) {
    .lead__caption{
        margin: 8px 0 0 16px; /*Отступ слева 0 0 24 16 через медиазапрос*/
    }
}